:root {
  --searchBar: #F0F6F6;
  --header: #587D71;
  --headerText: #000000;
  --background: #587D71;
  --buttonInactive: #084b83;
}
/*Tag for initial search bar.*/
#initial-search {
  margin: 10%;
}
/*Tag for appending previous searches to menu.*/
#saved-results {

}
/*Tag for menu to target.*/
#responsive-menu {

}
/*Tag for reloading the page*/
#resetBtn {
  margin: 20%;
}
body {
  background-color: var(--background);
}

.title-bar {
  padding: 0.5rem;
  background: var(--header);
  color: var(--headerText);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: space-between;
      -ms-flex-pack: start;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .title-bar .menu-icon {
    margin-left: 0.25rem;
    margin-right: 0.25rem; }

.menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 16px;
  cursor: pointer; }
  .menu-icon::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: var(--headerText);
    -webkit-box-shadow: 0 7px 0 var(--headerText), 0 14px 0 var(--headerText);
            box-shadow: 0 7px 0 var(--headerText), 0 14px 0 var(--headerText);
    content: ''; }
  .menu-icon:hover::after {
    background: #cacaca;
    -webkit-box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca;
            box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca; }

.menu-icon.dark {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 16px;
  cursor: pointer; }
  .menu-icon.dark::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #0a0a0a;
    -webkit-box-shadow: 0 7px 0 #0a0a0a, 0 14px 0 #0a0a0a;
            box-shadow: 0 7px 0 #0a0a0a, 0 14px 0 #0a0a0a;
    content: ''; }
  .menu-icon.dark:hover::after {
    background: #8a8a8a;
    -webkit-box-shadow: 0 7px 0 #8a8a8a, 0 14px 0 #8a8a8a;
            box-shadow: 0 7px 0 #8a8a8a, 0 14px 0 #8a8a8a; }
/* Search bar styling*/
.searchbar {
  margin: 1rem;
}

.search-field {
  width: 0;
  height: 40px;
  margin-left: 1rem;
  padding: 0;
  border-radius: 50px;
  border: none;
  transition: all 0.5s ease;
  background-color: var(--searchBar);
}

.expand-search {
  width: 80%;
  max-width: calc(80% - 3rem);
  border: 1px solid var(searchBar);
  border-radius: 25px;
  padding: .5rem;
}

svg {
  width: 20px;
  height: 20px;
}

.button {
  border-radius: 50px;
  background-color: var(--buttonInactive);
}
/* This styles the inital search bar*/
.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
}

.forecast {
  border: solid black 2px;
  border-radius: 10px;
  background-color: #cacaca;
  width: 150px;
  height: 150px;
}

.forecast-today {
  border: solid black 2px;
  border-radius: 10px;
  background-color: #cacaca;
  width: 150px;
  height: 200px;
}
/*footer*/
Footer
© 2022 GitHub, Inc.
Footer navigation
Te